<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Password Reset</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
<body>
<center>
  <div class="container" id="otpdiv"><br>
        <h2 style="color:white">Email Address to change password:</h2>
            <input id="email" type="email" name="email" placeholder="Email ID"/><br><br>
        <a href="#" id="otpbtn" class="btn btn-dark">OTP</a><br>
    </div>
    <div class="container" id="otptypediv" style="display:none"><br>
        <h2 style="color:white">Enter OTP</h2>
            <input id="otp" type="number" name="otp" placeholder="OTP"/><br><br>
        <a href="#" id="otptypebtn" class="btn btn-dark">Submit</a><br><br>
    </div>
    <div class="container" id="divchangepwd" style="display:none">
    <form action="{% url 'changepassword' %}" method="POST">
      {% csrf_token %}
            <input type="email" name="emailid" id="emailid" required style="" />
            <input type="password" name="password" placeholder="Password" required /><br><br>
            <input type="password" name="password" placeholder="Confirm Password"  required/><br><br>
                <button type="submit" class="btn btn-dark">Submit</button>
    </form>


    </div>
  </center>
  <script type="text/javascript">
  	$('#otpbtn').click(function() {
      var email = $('#email').val();
      document.getElementById("emailid").value = email;
      console.log(email + 'hello');
      var url = 'http://127.0.0.1:8000/otpgenerator';
      var data = {'email': email};
      console.log(data);
      var success = function () {
          console.log('yay');
          alert("otp sent to " + email);
          $('#otptypediv').show();
      };
      $.ajax({
           type: "GET",
           url: url,
           data: data,
           success: success
      });
  });
  </script>
  <script type="text/javascript">
      $('#otptypebtn').click(function() {
      var otp = $('#otp').val();
      var email = $('#email').val();
      var url = 'http://127.0.0.1:8000/otpcomparator';
      var data = {'otp': otp , 'email':email};
      console.log(data);
      var success = function () {
          console.log('yay');
          $('#divchangepwd').show();
      };
      $.ajax({
           type: "GET",
           url: url,
           data: data,
           success: success
      });
  });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </body>
</html>
